@import "tailwindcss";

:root {
  --color-hover: black;
  --color-primary: #787143;
  --color-secondary: ivory;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-montserrat), sans-serif;
  color: black;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-lora), serif;
}

h1 {
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

section{
  width: 100%;
}
